
/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* end of reset */

body{
  display: flex;
  flex-direction: column;
  background: #121212;
}

/* header */

header{
  display: flex;
  flex-direction: column;
}

.intro-vid{
  /* fill screen but keep proportions */
}

.hero-text{
  display: flex;
  flex-direction: row;
}

.title-div{
	display: flex;
	flex-direction: row;
}

h1{
  font-family: Futura;
  font-size: 200px;
  font-weight: 500;
  color: #ED1B1B;
	letter-spacing: -0.06em;
	margin-left: 0.06em;
}

.dark{
	color: #BA1916;
}

.title-extras{
  display: flex;
  flex-direction: column;
	align-items: flex-end;
}

.mute-div{

}

.button{
	font-family: Futura;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
  color: #D8201D;
  margin-left: 5px;
	transition: 0.33s;
}

.button:hover{
	color: #FF2D2D;
	text-decoration: underline;
}

/* content */

.content{
  display: flex;
  flex-direction: column;
}

.album-list{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  width: 70%;
}

h2{
	margin-bottom: 25px;
  font-family: Futura;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

.album-car{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
  margin: auto;
}

.album{
  display: flex;
  flex-direction: column;
	margin-left: 70px;
	margin-bottom: 70px;
}

.album-art{
	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 30px rgba(255, 255, 255, .10);
}

.album-img{
	width: 100%;
	height: 100%;
}

.album-controls{
	position: relative;
}

.album-title{
  display: flex;
  flex-direction: row;
}

h3{
	margin-top: 10px;
  font-family: 'Futura-CondensedMedium';
  color: #E7E7E7;
  font-size: 18px;
}

.secondary{
  color: #616161;
	margin-left: 3px;
}

.stream-buy{
  display: flex;
  flex-direction: row;
}

.separator{
  margin-left: 5px;
  width: 1px;
  height: 16px;
  background-color: #BA1916;
}
